<!DOCTYPE html>
<html th:replace="~{adminlte3 :: layout (~{::title}, ~{::main}, _, _)}">
<head>
   <title>Formulário de Edição</title>
</head>
<body>
    <main>
        <div class="row">
            <div class="col-mb-6 col-sm-12">
                <div class="card card-primary">
                    <div class="card-header">
                        <div class="card-title">Formulário de Edição</div>
                    </div>
                    <div class="card-body">
                         
                        <form method="POST" th:object="${edicaoForm}"> 

                            <div class="row">
                                <div class="col-md-6 col-sm-12">
                                    <div class="form-group">
                                        <label for="nome">Nome</label>
                                        <input type="text" class="form-control" th:field="*{nome}">
                                        <ul>
                                            <li class="text-danger" th:each="erro : ${#fields.errors('nome')}" th:text="${erro}"></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-12">
                                    <div class="form-group">
                                        <label for="email">Email</label>
                                        <input type="email" class="form-control" th:field="*{email}">
                                        <ul>
                                            <li class="text-danger" th:each="erro : ${#fields.errors('email')}" th:text="${erro}"></li>
                                        </ul>
                                    </div> 
                                </div>
                            </div>

                            <button type="submit" class="btn btn-success">Salvar</button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>